{% load i18n %}
<div class="sidebar-category sidebar-category-visible">
    <div class="category-content no-padding">
        <ul class="navigation navigation-main navigation-accordion">

            <li class="navigation-header"><span>Main</span> <i class="icon-menu" title="Main pages"></i>
            </li>
            <li><a href="javascript:void(0)"><i class="icon-home4"></i> <span>Dashboard</span></a></li>

            <li>
                <a href="#"><i class="icon-grid"></i> <span>{% trans "AVANCE DE ACTIVIDADES" %}</span></a>
                <ul>
                    <li><a href="">{% trans "registro de avances por area" %}</a></li>
                    <li><a href="">{% trans "Monitoreo Actividades JEFE" %}</a></li>
                </ul>
            </li>
             <li>
                <a href="#"><i class="icon-grid"></i> <span>{% trans "REPORTES" %}</span></a>
                <ul>
                    <li><a href="">{% trans "test" %}</a></li>

                </ul>
            </li>

        </ul>
    </div>
</div>